body {
    margin: 0;
}

h1, a {
    margin: 0;
    text-decoration: none;
    color: #000;
}

header {
    position: absolute;
   
}

header > button {
    height: 5vh;
    width: 10vh;
    background: #fff;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

main > section {
    height: 100vh;
    display: flex;
}

main > section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 100vh;
    border-right: 1px solid #000;
}

main > section > div:nth-of-type(1) {
    animation-name: one;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes one {

    0%, 100% {
        background: #000;
    }

    50% {
        background: #fff;
    }

}

main > section > div:nth-of-type(2) {
    animation-name: two;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes two {

    0%, 100% {
        background: #000;
    }

    50% {
        background: #fff;
    }

}

main > section > div:nth-of-type(3) {
    animation-name: three;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes three {

    0%, 100% {
        background: #000;
    }

    50% {
        background: #fff;
    }

}

main > section > div:nth-of-type(4) {
    animation-name: four;
    animation-duration: 250ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes four {

    0%, 100% {
        background: #000;
    }

    50% {
        background: #fff;
    }

}

main > section > div:nth-of-type(5) {
    animation-name: five;
    animation-duration: 125ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@keyframes five {

    0%, 100% {
        background: #000;
    }

    50% {
        background: #fff;
    }

}